/* Error: Undefined variable.
 *   ,
 * 1 | @each $color, $value in $colors {
 *   |                         ^^^^^^^
 *   '
 *   assets\scss\custom.scss 1:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  @each $color, $value in $colors {\d\a   \2502                          ^^^^^^^\a   \2575 \a   assets\\scss\\custom.scss 1:25  root stylesheet";
}
